<div class="page_title mb-3">
    <div class="font_title mb-4 pr-3 pl-3">
        商品編集
    </div>
    <% if @item.errors.any? %>
        <%= @item.errors.count %>件のエラーメッセージが発生しました
          <ul>
            <% @item.errors.full_messages.each do |message| %>
          <li><%= message %></li>
            <% end %>
          </ul>
    <% end %>
</div>

<div style="text-align: center" class="w-50% mt-3">
    <div class="form-group d-inline-block" style="text-align: left">

<%= form_with model:@item, url: admin_item_path(@item), method: :patch, local: true do |f| %>
        <div class="form-group" >
            <%= f.label :image, "商品画像　　　　" %>
            <%= f.file_field :image,  accept: "image/*" %> 
        </div>

        <div class="form-group" >
            <%= f.label :name, "商品名　　　　　" %>
            <%= f.text_field :name, :size=>"30" %> 
        </div>

        <div class="form-group" >
            <%= f.label :intruduvtion, "商品説明　　　　", class: "item-introduction-label" %>
            <%= f.text_area :introduction, size: "30x5" %> 
        </div>

        <div class="form-group" >
            <%= f.label :genre_id, "ジャンル　　　　" %>
            <%= f.select :genre_id, @genres.map{ |genre| [genre.name, genre.id] }, include_blank: '--選択してください--　　　　　' %>
        </div>
        
        <div class="form-group" >
            <%= f.label :price, "税抜価格　　　　" %>
            <%= f.text_field :price, :size=>"31" %> 円
        </div>
    
        <div class="form-group" >
            <%= f.label :is_active, "販売ステータス　" %>
            <%= f.radio_button :is_active, :true %>
            <%= f.label :is_active, "販売中", {value: :true, style: "display: inline-block;", class: "mr-3"} %>
            <%= f.radio_button :is_active, :false %>
            <%= f.label :is_active, "販売停止中", {value: :false, style: "display: inline-block;"} %>
        </div>

</div>
        <div style="text-align: center">
            <%= f.submit '　　変更を保存　　',class: "btn btn-success mb-4" %>
        </div>

<% end %>

    