<div class="conatiner">
    <div class="page_title mb-3 d-inline-block">
        <div class="font_title pr-3 pl-3">
           <p>商品一覧</p>
    </div>
</div>

    <div class="new_item_icon">
        <%= link_to new_admin_item_path do %>
            <i class="fas fa-plus-circle fa-2x" style="color: gainsboro;"></i>
        <% end %>
    </div>
</div>

<div class="container m-10">
<table class="table" border="2" rules="rows" frame="hsides" bordercolor="silver">
    <thead bgcolor="#DDDDDD">
     <tr>
        <th>商品ID</th>
        <th>商品名</th>
        <th>税抜価格</th>
        <th>ジャンル</th>
        <th>ステータス</th>
     </tr>
    </thead>
    
    <tbody>
     <% @items.each do |item| %>
     <tr>
        <td>
            <%= item.id %>
        </td>
        <td>
         <%= link_to admin_item_path(item.id) do %>
            <%= item.name %>
         <% end %>
        </td>
        <td>
            <%= item.price.to_s(:delimited) %>
        </td>
        <td>
            <%= item.genre.name %>
        </td>
        
        <% if item.is_active == true %>
            <td class="now_on_sale">販売中</td>
        <% else %>
            <td class="sold_out">販売停止中</td>
    　　<% end %>
    　　
     </tr>
     <% end %>
    </tbody>
</table>
</div>

            <%= paginate @items, theme: 'bootstrap-5' %>