<div class="conatiner">
    <div class="ml-5 mt-4 d-inline-block">
        <div class="font_title pr-3 pl-3">
           <p><%= @customer.first_name + @customer.last_name %>の会員情報編集</p>
    </div>
</div>



<div class="container m-3">
        <div class="row m-3">
            <div class="font-weight-bold">会員ID　　　　　　   </div>
            <%= @customer.id %>
        </div>
</div>

<%= form_with model: @customer, url: admin_customer_path, method: :patch do |f| %>

  <div class="form-group">
    <%= f.label :first_name, "氏名　　　　　　　", class: "font-weight-bold ml-5" %>
    <%= f.text_field :first_name, autocomplete: "first_name" %>
    <%= f.text_field :last_name, autocomplete: "last_name" %>
  </div>
  
  <div class="form-group">
    <%= f.label :first_name_kana, "フリガナ　　　　　", class: "font-weight-bold ml-5" %>
    <%= f.text_field :first_name_kana, autocomplete: "first_name_kana" %>
    <%= f.text_field :last_name_kana, autocomplete: "last_name_kana" %>
  </div>
  
  <div class="form-group">
    <%= f.label :postal_code, "郵便番号　　　　　", class: "font-weight-bold ml-5" %>
    <%= f.number_field :postal_code, autocomplete: "postal_code" %>
  </div>
  
  <div class="form-group">
    <%= f.label :address, "住所　　　　　　　", class: "font-weight-bold ml-5" %>
    <%= f.text_field :address,autocomplete: "address" %>
  </div>
  
  <div class="form-group">
    <%= f.label :telephone_number, "電話番号　　　　　", class: "font-weight-bold ml-5" %>
    <%= f.number_field :telephone_number, autocomplete: "telephone_number" %>
  </div>

  <div class="form-group">
    <%= f.label :email, "メールアドレス　　", class: "font-weight-bold ml-5" %>
    <%= f.email_field :email, autocomplete: "email" %>
  </div>
  
  <div class="form-group">
        <%= f.label :is_active, "会員ステータス　　", class: "font-weight-bold ml-5" %>
        <%= f.radio_button :is_deleted, :false %>
        <%= f.label :is_deleted, "有効", {value: :false, style: "display: inline-block;"} %>
        <%= f.radio_button :is_deleted, :true %>
        <%= f.label :is_deleted, "退会", {value: :true, style: "display: inline-block;"} %>
  </div>


  <div style="text-align: left"  class="customer_show_btn">
    <%= f.submit '変更を保存',class: "btn btn-success" %>
  </div>
<% end %>
