<div class="page_title mb-3">
    <div class="font_title pr-3 pl-3">
        ジャンル一覧・追加
    </div>
    <% if @genre.errors.any? %>
        <%= @genre.errors.count %>件のエラーメッセージが発生しました
        <ul>
            <% @genre.errors.full_messages.each do |message| %>
        <li><%= message %></li>
            <% end %>
        </ul>
    <% end %>
</div>

<div class="form-group　d-flex ml-5">
        <%= form_with model: @genre, url: admin_genres_path, local: true do |f| %>
            <%= f.label :ジャンル名, class: "mr-5 mt-5 mb-5 ml-3" %>
            <%= f.text_field :name, class: "genre-form" %>
            <%= f.submit '　新規登録　',class: "btn btn-success ml-5" %>
        <% end %>
</div>

<div class="container ml-5">
<table class="table table-genres" border="2" rules="rows" frame="hsides" bordercolor="silver">
    <thead  bgcolor="#DDDDDD">
        <tr>
            <th>　　　ジャンル</th>
            <th></th>
        </tr>
    </thead>
    
    <tbody>
        <% @genres.each do |genre| %>
        <tr>
        <td style="vertical-align: middle"><%= genre.name %></td>
        <td align="center"><%= link_to "　編集する　", edit_admin_genre_path(genre.id), class: "btn btn-success" %></td>
        </tr>
        <% end %>
    </tbody>
</table>
</div>