<div class="m-5">
    <h4>配送先編集</h4>
    <% if @address.errors.any? %>
        <%= @address.errors.count %>件のエラーメッセージが発生しました
          <ul>
            <% @address.errors.full_messages.each do |message| %>
          <li><%= message %></li>
            <% end %>
          </ul>
    <% end %>
</div>

<div class="form-group">
<%= form_with model: @address, url:address_path, method: :patch, local: true do |f| %>
    <div class="form-group">
        <%= f.label :postal_code, "郵便番号（ハイフンなし）" %>
        <%= f.number_field :postal_code %>
    </div>
    <div class="form-group">
        <%= f.label :address, "住所" %>
        <%= f.text_field :address %>
    </div>
    <div class="form-group">
        <%= f.hidden_field :customer_id, value: @customer.id %>
        <%= f.label :name, "宛名" %>
        <%= f.text_field :name %>
        <%= f.submit '更新内容を保存', class: "btn btn-success" %>
    </div>
<% end %>
</div>