<div class="conatiner">
    <div class="page_title d-inline-block">
        <div class="font_title pr-3 pl-3">
           <p>ショッピングカート</p>
        </div>
    </div>
    <div style="text-align: right">
        <%= link_to "カートを空にする", cart_items_destroy_all_path, method: :delete, class: "btn btn-danger mr-3" %>
    </div>
</div>

<div class="container m-10">
<table border="1" width="1000">
    <thead  bgcolor="silver">
        <tr>
            <th>商品名</th>
            <th>単価(税込）</th>
            <th>数量</th>
            <th>小計</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <% @cart_items.each do |cart_item| %>
        <tr>
            <td>
                <% if cart_item.item.image.attached? %>
                    <%= image_tag cart_item.item.image, size: "50x50" %>
                <% else %>
                    <%= image_tag 'no_image', size: "50x50" %>
                <% end %>
                
                <%= cart_item.item.name %>
            </td>
            <td><%= (cart_item.item.add_tax_price).floor.to_s(:delimited) %></td>
            <td>
                <%= form_with model: cart_item, url: cart_item_path(cart_item.id), method: :patch, local: true do |f| %>
                    <%= f.hidden_field :item_id, value: cart_item.item.id %>
                    <%= f.hidden_field :customer_id, value: cart_item.customer.id %>
                    <%= f.select :amount, *[1..10]  %>
                    <%= f.submit '変更', class:"btn btn-success" %>
                <% end %>
            </td>
            <td><%= (cart_item.subtotal).to_s(:delimited) %></td>
            <td><%= link_to "削除する", cart_item_path(cart_item.id), method: :delete, class: "btn btn-danger" %></td>
        </tr>
        
        <% end %>
    </tbody>
</table>

<div class="row mt-3">
<div class="mr-3">
    <%= link_to "買い物を続ける", root_path, class: "btn btn-primary" %>
</div>
<table border="1" width="200" class="">
    <tr>
        <th bgcolor="silver">合計金額</th>
        <td><%= @total_price.to_s(:delimited) %></td>
    </tr>
</table>
</div>
</div>

<div class="container mt-3 d-flex align-items-center">
    <div class="row">
    <%= link_to "情報入力画面に進む", new_order_path, class: "btn btn-success" %>
    </div>
</div>