<div class="m-3">
    注文情報入力
</div>

<div class="container">
    <%= form_with model: @order, url: orders_path, method: :post, local: true do |f| %>
    <h4>支払い方法</h4>
        <%= f.radio_button :payment, Order.payments.key(0) %>
        <%= f.label :payment, Order.payments_i18n[:credit] %>

        <%= f.radio_button :payment, Order.payments.key(1) %>
        <%= f.label :payment, Order.payments_i18n[:bank]%>
    <h4>お届け先</h4>
        <%= f.select :delivery_address, options_from_collection_for_select(Address.all, :id, :address_display) %>
    <% end %>
</div>