<div class="page_title">
    <div class="font_title mb-4 pl-4 pr-4">
        注文履歴詳細
    </div>
</div>

<div class="container m-3">
    <div class="row">
        <div class="col-sm-8">
            <b>注文情報</b>
            <table border="1" width="100%">
                <tr>
                    <th width="20%" class="pl-1 pt-2 pb-2" bgcolor="#DDDDDD">注文日</th>
                    <td class="pl-1 pt-2 pb-2"><%=  @order.created_at.strftime('%Y/%m/%d') %></td>
                </tr>
                <tr>
                    <th class="pl-1 pt-2 pb-2" bgcolor="#DDDDDD">配送先</th>
                    <td class="p-1">
                        〒<%= @order.delivery_postal_code %></br> 
                        <%= @order.delivery_address %></br>
                        <%=@order.delivery_name %>
                    </td>
                </tr>
                <tr>
                    <th class="pl-1 pt-2 pb-2" bgcolor="#DDDDDD">支払い方法</th>
                    <td class="pl-1 pt-2 pb-2"><%= @order.payment_i18n %></td>
                </tr>
                <tr>
                    <th class="pl-1 pt-2 pb-2" bgcolor="#DDDDDD">ステータス</th>
                    <td class="pl-1 pt-2 pb-2"><%= @order.order_status_i18n %></td>
                </tr>
            </table>
        </div>
        <div class="col-sm-4">
            <b>請求情報</b>
            <table border="1" width="100%">
                <tr>
                    <th class="pl-1 pt-2 pb-2" bgcolor="#DDDDDD">商品合計</th>
                    <td class="pl-1 pt-2 pb-2"><%= @order.total_payment.to_s(:delimited) %></td>
                </tr>
                <tr>
                    <th class="pl-1 pt-2 pb-2" bgcolor="#DDDDDD">配送料</th>
                    <td class="pl-1 pt-2 pb-2"><%= @order.postage %></td>
                </tr>
                <tr>
                    <th class="pl-1 pt-2 pb-2" bgcolor="#DDDDDD">ご請求額</th>
                    <td class="pl-1 pt-2 pb-2"><%= (@order.total_payment + @order.postage).to_s(:delimited) %></td>
                </tr>
            </table>
        </div>
    </div>
</div>
    <div class="col-sm-9 ml-3">
        <b>注文内容</b>
        <table border="1" width="100%">
            <thead bgcolor="#DDDDDD">
                <th class="pl-1 pt-2 pb-2">商品</th>
                <th class="pl-1 pt-2 pb-2">単価（税込）</th>
                <th class="pl-1 pt-2 pb-2">個数</th>
                <th class="pl-1 pt-2 pb-2">小計</th>
            </thead>
            <% @ordering_details.each do |ordering_detail| %>
            <tbody>
                <td class="pl-1 pt-2 pb-2"><%= ordering_detail.item.name %></td>
                <td class="pl-1 pt-2 pb-2"><%= ordering_detail.item.add_tax_price.to_s(:delimited)%></td>
                <td class="pl-1 pt-2 pb-2"><%= ordering_detail.amount %></td>
                <td class="pl-1 pt-2 pb-2"><%= (ordering_detail.item.add_tax_price *  ordering_detail.amount).to_s(:delimited) %></td>
            </tbody>
            <% end %>
        </table>
    </div>
