<div class="container mt-5">
  <div class="row">
    <div class="col-sm-3">
       <%= render 'public/layouts/genre-sarch', genres: @genres %>
    </div>
    <div class="col-sm-9">
      <div>
        <p>商品一覧<span>(全<%= @items.count %>件)</span></p>
      </div>
      <div class="flex-box">
        <% @items.each do |item| %>
        <div class="flex-items">
          <%= link_to item_path(item.id) do %>
            <% if item.image.attached? %>
              <%= image_tag item.image, size: "150x100" %>
            <% else %>
              <%= image_tag 'no_image', size: "150x100" %>
            <% end %>
          <% end %></br>
              <b><%= item.name %></b></br>
              ¥<%= item.price.to_s(:delimited) %>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>



<%= paginate @items, theme: 'bootstrap-5' %>